// === COLORS ===
$text-color: #222222;
$theme-color: #170A48;
$secondary-color: #F27731;
$ternary-color: #CCF962;
$link-color: $secondary-color;
$menu-item-color: white;

// === FONTS ===
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Tittilium Web", Georgia, serif;

// === SIZES ===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;